body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;

}

.title {
    font-family: 'Muli', sans-serif;
    margin: auto;
    padding: 10px 0px 0px 0px;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    color: black;
    margin-bottom: 100px;
  }

  .pig {
    padding: 50px 0px 0px 0px;
    text-align: center;
  }

  .button1 {
    background-color: black;
    border: none;
    color: white;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
  }
